*{
    margin: 0;
    padding: 0;
}

.contact{
    position: relative;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: #112d42;
}
.contact::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #03a9f4;
}

.contact .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.contact .container .contactinfo{
    position: absolute;
    top: 75px;
    width: 350px;
    margin-left: 165px;
    height: calc(70% - 80px);
    background: #0f3959;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.contact .container .contactinfo h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.contact .container .contactinfo .info{
    position: relative;
    list-style: none;
}

.contact .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.contact .container .contactinfo .info li span{
    font-family: 'Ubuntu', sans-serif;
}
.contact .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}

.contact .container .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}
.contact .container .contactinfo .info li span:nth-child(2){
    color: white;
    margin-left: 10px;
    font-weight: 300;
}

.contact .container .contactinfo .info li:hover span:nth-child(1) img,
.contact .container .contactinfo .info li:hover span:nth-child(2){
    opacity: 1;
} 

.contact .container .contactinfo .social{
    position: relative;
    display: flex;
}
.contact .container .contactinfo .social li{
    list-style: none;
    margin-right: 15px;
}
.contact .container .contactinfo .social li a{
    text-decoration: none;
}

.contact .container .contactinfo .social li a img{
    filter: invert(1);
    opacity: 0.5;
}
.contact .container .contactinfo .social li:hover a img{
    opacity: 1;
}

.contact .container .contactForm{
   position: absolute;
    padding: 68px 82px;
    background: white;
    margin-left: 335px;
    top: 35px;
    padding-left: 250px;
    width: calc(82% - 340px);
    height: 60%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5); 

}
.contact .container .contactForm h2{
    color: #0f3959;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 500;
}
.contact .container .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-top: 30px;
}

.contact .container .contactForm .formBox .inputBox{
    position: 0 0 35px 0;
    padding-top: 5px;
}
.contact .container .contactForm .formBox .inputBox.w50{
    width: 47%;
}
.contact .container .contactForm .formBox .inputBox.w100{
    width: 100%;
}
.contact .container .contactForm .formBox .inputBox input,
.contact .container .contactForm .formBox .inputBox textarea
{
    width: 100% !important;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.contact .container .contactForm .formBox .inputBox textarea{
    min-height: 70px;
}
.contact .container .contactForm .formBox .inputBox span{
    position: relative;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
    transition: 0.3s;
    pointer-events: none;
}
.contact .container .contactForm .formBox .inputBox input:focus ~ span,
.contact .container .contactForm .formBox .inputBox textarea:focus ~span,
.contact .container .contactForm .formBox .inputBox input:valid ~ span,
.contact .container .contactForm .formBox .inputBox textarea:valid ~span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

.contact .container .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #0f3959;
    color: white;
    border: none;
    max-width: 100px;
    padding: 10px;
}
.contact .container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #ff568c;
}
/*    Contact Section Ends     */